{% macro render_field(field) %}
    <div class="control-group">
    {{ field.label(class="control-label") }}
    <div class="controls">{{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}</div>
    </div>
{% endmacro %}
