{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<form class="form-horizontal" method="post" 
    {% if request.view_args.get('nama') %}
    action="{{ url_for(request.endpoint, nama=request.view_args.get('nama')) }}">
    {% else %}
    action="{{ url_for(request.endpoint) }}">
    {% endif %}
    {% for field in form._fields %}
        {% if (form|attr(field)).widget.input_type != 'hidden' %}
            {{ render_field(form|attr(field)) }}
        {% endif %}
    {% endfor %}
    <div class="control-groups">
        <div class="controls">
            <input type="submit" value="Simpan">
        </div>
    </div>
    {{ form.hidden_tag() }}
</form>
{% endblock %}
