{% extends "base.html" %}

{% block body %}
<table class="table">
{% if data.0 is defined %}   
    <tr>
    {# column header #}
    {% for col in data.0.__mapper__.columns.keys() %}
        <th>{{ col }}</th>
    {% endfor %}
        <th><a href="{{url_for(request.view_args['table']) }}">Add New</a></th>
    </tr>

    {# column data #}
    {% for item in data %}
    <tr>
        {% for col in data.0.__mapper__.columns.keys() %}
            <td>{{ item|attr(col) }}</td>
        {% endfor %}
        <td><a href="{{ url_for('detail%s' % request.view_args['table'].title(), nama=item.nama) }}">Edit</a> <a href="">Void</a></td>
    </tr>
    {% endfor %}

{% endif %}
</table>
{% endblock %}
