{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="span8 offset4">
                <form method="post" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}
                    {{ form.username.label }} {{ form.username }}<br>
                    {{ form.password.label }} {{ form.password }}<br>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
