{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<form class="form-horizontal" method="post" 
    action="{{ url_for('menu') + '/' + request.view_args.get('nama') if request.view_args.get('nama') else '' }}">
        {{ render_field(form.nama) }}
        {{ render_field(form.harga) }}
        {{ render_field(form.kategori_id) }}
    <div class="control-groups">
        <div class="controls">
            <input type="submit" value="Simpan">
        </div>
    </div>
    {{ form.hidden_tag() }}
</form>
{% endblock %}
